.contacts {
  box-sizing: border-box;
  position: relative;
  width: 560px;
  padding-top: 50px;

  &__title {
    margin: 0;
    padding: 0;
    margin-bottom: 46px;
    padding-right: 45px;

    font-family: Gilroy Extra Bold, Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    color: #000000;
  }

  &::before {
    content: "";
    width: 80px;
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;

    background-color: #000000;
  }

  p {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    padding-right: 45px;
  }

  .map {
    margin-bottom: 65px;
  }
}
