.main-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  font-family: Gilroy Extra Bold, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;

  .catalog__list {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 0;

    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 42px;

    z-index: 5;

    font-family: Open Sans Light, Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;

    display: flex;
    width: 640px;


    &--closed {
      display: none;
    }

    &::before {
      content: "";
      z-index: -1;
      bottom: 0;
      left: 0;
      width: 1160px;
      height: 100%;
      position: absolute;
      background-color: #f7e296;
    }
  }

  .catalog__open {
    padding: 0;
    padding-right: 35px;

    margin-right: 293px;
    margin-bottom: 17px;
    margin-left: 60px;

    position: relative;

    border: none;

    background-color: transparent;

    cursor: pointer;

    font-family: Gilroy Extra Bold, Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;

    &::before,
    &::after {
      content: "";
      background-color: #000000;
      opacity: 0.3;
      display: block;
      position: absolute;

    }

    &::before {
      width: 16px;
      height: 2px;
      top: 50%;
      right: 0;
    }

    &::after {
      width: 2px;
      height: 16px;
      top: 5px;
      right: 7px;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .catalog__item a {
    text-decoration: none;
    color: #000000;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .column {
    margin-right: 45px;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  padding-right: 60px;

  display: flex;
  justify-content: space-between;

  width: 500px;
}

.main-nav__item {
  margin-right: 40px;

  &:nth-child(3n) {
    margin-right: 0;
    margin-left: auto;
  }
}

.main-nav__item a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

